table{
    width: 100%;
    max-height: 70%;
    position: relative;
}

th {
    padding: 10px 20px;
    text-align: left;
}

thead{
    background: #e6e3e3;
    position: sticky;
    top: 0;
}

td{
    padding: 10px 20px;
}

.clickable{
    cursor: pointer;
}

.pagination {
    margin: 10px 0;
}

.pagination button {
    padding: 5px 10px;
    margin-right: 5px;
}

@media screen and (max-width: 860px) {
    table{
        font-size: 12px;
    }

    th {
        padding: 5px 10px;
    }
}