.popup{
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
    max-height: 32px;

    display: flex;
    align-items: center;

    
}

.popup__icon{
    font-size: xx-large;

    position: sticky;
    left: 0;
    top: 0;
}

.popup__text{
    font-size: 14px;
    margin-left: 10px;
}

.popup__hidden{
    display: none;
    visibility: hidden;
}

.popupoverlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(65, 65, 65, 0.534);
}

.popupoverlay__box{
    background: white;
    min-height: 250px;
    border-radius: 10px;

    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
}

.popupoverlay__box--head{
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
}

.popupoverlay__box--body{
    padding: 10px 20px;
}

@media screen and (max-width: 360px) {
    .popupoverlay__box{
        border-radius: 0;
        height: 100%;
        width: 100%;
    }
}